<!DOCTYPE html>
<html>
<head>
    <link href="style.css" rel="stylesheet" type="text/css" />
    <meta charset="UTF-8">
    <title>Really High Quality Blog</title>
</head>
<body>
    <div class="forms">
        <form action="/create-user" method="post">
        <input type="text" name="username" placeholder="Enter your name"/>
        <input type="password" name="password" placeholder="Enter your password"/>
        <button type="submit">Log in</button>
        </form>
    </div>
<br>
</body>
</html>